# AWS Configuration
aws_region    = "us-east-1"
instance_type = "t2.micro"
volume_size   = 20
instance_name = "nextjs-server"

# SSH Configuration
key_name         = "nextjs-deployer-key"
public_key_path  = "~/.ssh/id_rsa.pub"
private_key_path = "~/.ssh/id_rsa"

# Application Configuration
supabase_url      = "http://api.alfabvic.com.au"
supabase_anon_key = "your_copied_anon_key" 